@media screen and (max-width: 56.25em) {
  html { font-size: 15px; }
}

@media screen and (max-width: 40em) {
  html { font-size: 14px; }
  .container { padding: 0 0.75em; }
}

@media screen and (min-width: 90em) {
  html { font-size: 17px; }
}

@media screen and (min-width: 120em) {
  html { font-size: 18px; }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
